* {
    color: #F0F0F0;
}

body {
    height: 100vh;
}

nav {
    background-color: #3C3C3C;
    display: flex;
    justify-content: left;
    padding: 5px;
    padding-right: 10px;
    align-items: flex-end;
    height: 58px;
}

nav > h2 {
    justify-self: left;
    padding: 0px 20px;
}

nav > a {
    height: 40px;
    color: #F0F0F0;
    padding: 5px;
    font-size: 20px;
}

.superPage {
    display: flex;
    justify-content: center;
    background-color: #252526;
}

.page {
    width: 1080px;
    background-color: #1E1E1E;
    height: calc(100vh - 58px);
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.home-desc {
    text-align: center;
}

.login-box {
    width: 420px;
    margin: auto;
    margin-top: 20px;
    border-color: black;
    border-width: 1px;
    background-color: #252526;
    padding: 10px 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > a {
    font-size: 20px;
    background-color: #37373D;
    border-radius: 0px;
    padding: 4px !important;
    width: 110px !important;
}

.login-box > h3 {
    text-align: center;
}

.login-box > h4 {
    padding: 20px 5px 10px 5px;
}

.login-box > input {
    background-color: #3C3C3C;
    width: 100%;
    height: 35px;
}

.login{
    padding-top: 30px;
}

.button {
    font-size: 20px;
    background-color: #37373D;
    border-radius: 0px;
    padding: 4px !important;
    width: 100% !important;
    margin-top: 20px !important;
}

a.button1{
    display:inline-block;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
    a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
    }

.menu {
    background-color: #252526;
    padding: 10px;
    padding-left: 20px;
}

.search {
    display: flex;
}

.search > input {
    width: 100%;
    margin: 5px;
    background-color: #3C3C3C;
    border-radius: 5px;
}

.below {
    height: calc(100vh - 121px);
    display: flex;
}

.filters {
    width: 25%;
    padding: 10px;
    padding-left: 30px;
    background-color: #252526;
}

.T {
    color: #9f0;
}

.S {
    color: #F5F543;
}

.X {
    color: red;
}

.selector {
    display: inline;
    padding-left: 30px;
}

.superSelector {
    display: flex;
    justify-content: space-between;
}

ul > li > ul {
    background-color: #3C3C3C;
    margin-top: 5px;
}

.results {
    width: 75%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.result {
    border: 1px solid #202124;
    padding: 5px;
    background-color: #252526;
    margin: 0px 5px 5px 5px;
}

.item-ingredients > div {
    display: flex;
    flex-wrap: wrap;
}

.item-ingredients > div > p {
    padding: 0px 10px;
}