* {
    color: #F0F0F0;
}

body {
    height: 100vh;
}

nav {
    background-color: #3C3C3C;
    display: flex;
    justify-content: left;
    padding: 5px;
    padding-right: 10px;
    align-items: flex-end;
    height: 58px;
}

nav > h2 {
    justify-self: left;
    padding: 0px 20px;
}

nav > a {
    height: 40px;
    color: #F0F0F0;
    padding: 5px;
    font-size: 20px;
}

.superPage {
    display: flex;
    justify-content: center;
    background-color: #252526;
}

.page {
    width: 1080px;
    background-color: #1E1E1E;
    height: calc(100vh - 58px);
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.home-desc {
    text-align: center;
}

.login-box {
    width: 420px;
    margin: auto;
    margin-top: 20px;
    border-color: black;
    border-width: 1px;
    background-color: #252526;
    padding: 10px 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > button {
    font-size: 20px;
    background-color: #37373D;
    border-radius: 0px;
    padding: 4px;
    width: 110px;
}

.login-box > h3 {
    text-align: center;
}

.login-box > h4 {
    padding: 20px 5px 10px 5px;
}

.login-box > input {
    background-color: #3C3C3C;
    width: 100%;
    height: 35px;
}

.login{
    padding-top: 30px;
}

.button {
    font-size: 20px;
    background-color: #37373D;
    border-radius: 0px;
    padding: 4px;
    width: 100%;
    margin-top: 20px;
}

.menu {
    background-color: #252526;
    padding: 10px;
    padding-left: 20px;
}

.search {
    display: flex;
}

.search > input {
    width: 100%;
    margin: 5px;
    background-color: #3C3C3C;
    border-radius: 5px;
}

.below {
    height: calc(100vh - 121px);
    display: flex;
}

.filters {
    width: 25%;
    padding: 10px;
    padding-left: 30px;
    background-color: #252526;
}

.T {
    color: #9f0;
}

.S {
    color: #F5F543;
}

.X {
    color: red;
}

.selector {
    display: inline;
    padding-left: 30px;
}

.superSelector {
    display: flex;
    justify-content: space-between;
}

ul > li > ul {
    background-color: #3C3C3C;
    margin-top: 5px;
}

.results {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}